<%= link_to("<< Back to List", sections_path, :class => 'back-link') %>

<div class="sections edit">
  <h2>Edit a Section</h2>

  <%= form_for(@section) do |f| %>
    
    <%= render(:partial => 'sectionform', :locals => {:f => f}) %>
  
  <div class="form-buttons">
    <%= f.submit("Update Section") %>
  </div>

  <% end %>
</div>

</body>

