<%= link_to("<< Back to List", subjects_pathe, :class => 'back-link') %>

<div class="subjects delete">
  <h1>Delete a Subject</h1>

<!-- In the line below, must specify that the method is delete -->
  <%= form_for(@subject, :method => 'delete') do |f| %>

    <p>Are you SURE you want to permanently delete this subject?</p>
    
<!-- In the line below, you could use @subject.name instead of f.object -->
    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Subject") %>
    </div>

    <% end %>
  </div>

